# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
*.ipynb_checkpoints/

# Local artifacts
logs/
data/events/

# (Recommended) don't push raw images; API can proxy originals
data/images/
